<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .text{
            font-size: 40px;
            font-family: Arial, sans-serif;
            fill: white;
            font-weight: bold;
        }
    </style>
</head>
<body style="margin: 0;"
>
    <svg width="auto" height="300" >
        <rect width="100%" height="100%" fill="brown"></rect>

        <text x="25%" y="150" class="text">
            SVG animation I made
        </text>

        <circle cx="200" cy="80" r="40" fill="blue" />

        <circle cx="1000" cy="200" r="40" fill="yellow" />
    </svg>

    <nav class="menue">
    <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="./two.html">Resources</a></li>
        <li><a href="./three.html">SVG animation</a></li>
    </ul>

    <h1>SVG animation is easy!</h1>

    <svg width="220" height="220">
        <rect  x="10" y="10" width="200" height="200" fill="none" stroke="black" stroke-width="2px"></rect>
        <circle cx="0" cy="0" r="5" fill="red">
            <animateMotion dur="8s" repeatCount="indefinite">
            <mpath href="#squarePath" />
            </animateMotion>
        </circle>
        
        <path id="squarePath" d="M 10 10 H 210 V 210 H 10 Z" fill="none" />
    </svg>
</body>
</html>